#jsdrag {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  cursor: move;
  background-color: rgb(126,126,183);
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  text-align: center;
}

